<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="TENCENT_CLOUD_SECRET_ID" value=""/>
        <env name="TENCENT_CLOUD_SECRET_KEY" value=""/>
        <env name="TENCENT_CLOUD_OCR_ENDPOINT" value="ocr.tencentcloudapi.com"/>
        <env name="TENCENT_CLOUD_OCR_REGION" value=""/>
        <env name="TENCENT_CLOUD_APP_ID" value=""/>
    </php>

    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
